.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
  height: 97vh;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 991.98px) {
  .Profile {
    display: block;
    position: relative;
    height: 99vh;
  }
}
